# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.eggs/
*.egg-info/
dist/
build/

# Project-specific
branding/branding.svg
branding/branding.eps
branding/branding.dxf
profile.dxf
profile.eps
settings.scad
